<!-- <div id="particles-js">
</div> -->
  <div class="heroSection">
    <div class="row"  >
      <div class="col-sm-12 align-items-center text-center">
        <h1>
          Welcome to the Mobile Price Prediction Web App !
        </h1>
        <p>
          Discover the future of mobile app pricing! Easily predict your app's cost with our state-of-the-art web application. Our advanced machine learning algorithms analyze app specifications and market trends, providing you with accurate insights. No more guesswork – just user-friendly precision. Seize opportunities, maximize success. Predict your mobile app price confidently and effortlessly – because precision is power!      </div>
  </div>
  <div class="btnSection">
    <button mat-raised-button color="primary" type="button" mat-button (click)="navigate('application')"> Click To Start Prediction App </button>
  </div>
</div>

