#particles-js {
  position: absolute;
  background-color: rgba(46, 147, 163, 0.836);
  width:100vw;
  height: 400px;
  z-index: -1;
}
.heroSection{
    padding: 5rem;
    background: radial-gradient(circle, rgb(165, 133, 255) 0%, rgb(255, 255, 255) 40%);
}
.heroSection>div>div>h1{
    font-size: 38px;
    font-weight: bold;
    
}
.heroSection>div>div>p{
    padding-top: 10px;
    padding-left: 135px;
    padding-right: 135px;
    font-size: 20px;
    line-height: 1.5;
    
}
.btnSection{
    padding-left: 135px;
    padding-top: 43px;
}
.btnSection>button:hover{ 
   background-color: rgb(42, 10, 88);
}

