#particles-js {
  position: absolute;
  background-color: rgba(17, 60, 83, 0.836);
  width:100vw;
  height: 400px;
  z-index: -1;
}
.heroSection{
    padding: 5rem;
    background: rgb(70,70,199);
    background: radial-gradient(circle, rgba(70,70,199,1) 0%, rgba(255,255,255,1) 100%);
}
.heroSection>div>div>h1{
    font-size: 38px;
    font-weight: bold;
    
}
.heroSection>div>div>p{
    padding-top: 10px;
    padding-left: 135px;
    padding-right: 135px;
    font-size: 20px;
    line-height: 1.5;
    
}
.btnSection{
    padding-left: 135px;
    padding-top: 43px;
}
