<div id="particles-js"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>
        Welcome Prihhhhhhhhhhhhhh hhhhhhhhhhhhhhhhhhhh hhhhhhhhhhhh
        hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
        dolorem commodi labore obcaecati odio ipsum fugiat ea? Cum ad omnis
        consequatur aliquid nemo voluptates iusto adipisci, minima repudiandae
        laborum est?
      </p>
    </div>
    <div class="col-sm-4">col-sm-4</div>
  </div>
  <div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
  </div>
  <button type="button" mat-button (click)="navigate('detail')">Home</button>
</div>
