.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 45px;
  border-radius: 1rem;
}
table {
  width: 100%;
}
.containers  {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 30px;
  background-color: rgba(17, 60, 83, 0.836);
}