.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 45px;
  border-radius: 1rem;
}
table {
  width: 100%;
}
.containers  {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 30px;
  background: rgb(70,70,199);
background: radial-gradient(circle, rgba(70,70,199,1) 0%, rgba(255,255,255,1) 100%);
}